<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="{$config.site_url}/public/static/user/css/revise.css">
</head>
<body>
<div class="revise">
    <img src="{$config.site_url}/public/static/user/images/milogo.png" alt="">
    <h1>重置密码</h1>
    <form action="index.php?controler=user&action=doRevise" method="POST">
        <input type="text" name="user" placeholder="邮箱/手机号码/小米ID" id="login-username">
        <input type="text" name="password" placeholder="原始密码" id="login-pwd">
        <input type="text" name="newpassword" placeholder="修改密码">
        <input type="text" name="newpassword2" placeholder="确认密码">
        <input type="submit" value="修改" class="btn" id="do-login-button">
    </form>
</div>
</body>
</html>