<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单结算页</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">收货地址</div>
        <div class="col-md-8">
            <input type="button" class="btn btn-success"  value="添加收货地址" name=""></div>
    </div>
    <div class="row">
        <div class="col-md-2">支付方式</div>
        <div class="col-md-8">微信、支付宝</div>
    </div>
    <h2>商品列表</h2>
    <table class="table">
        <tr>
            <th>商品信息</th>
            <th>单价/数量</th>
            <th>总价</th>
        </tr>
    </table>
</div>
</body>
</html>