<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{$config.site_url}/public/static/user/images/milogo.png" type="image/x-png"/>
    <title>【小米5X怎么样,好不好】用户评价-小米商城</title>
</head>
<body>
{include file="home/header.html"}
{include file="goods/top.html"}
<div class="comment_wrap">
    <div class="comment_nav">
        <h2>大家认为</h2>
        <div class="nav_box2">
            <a href="javascript:;" class="cur">全部（29763）</a>
            <a href="javascript:;">手感很棒（2237）</a>
            <a href="javascript:;">外观漂亮（2214）</a>
            <a href="javascript:;">值得拥有（1662）</a>
            <a href="javascript:;">快递给力（1069）</a>
            <a href="javascript:;">速度很快（679）</a>
        </div>
    </div>
    <div class="row">
        <div class="row_left">
            <div class="comment-top">
                <h2 class="m-tit">热门评价</h2>
                <a class="J_showImg show-img" href="javascript:;">
                    <input type="checkbox">只显示带图评价 </a>
            </div>
            <div class="comment_list">
                <ul>
                    <li><a href="javascript:;" class="user_img"><img src="{$config.site_url}/public/static/goods/images/user1.jpg"></a>
                        <div class="item">
                            <div class="item-top">
                                <a href="javascript:;" class="user-name">乌龙山锐雯</a>
                                <p class="time">星期五</p>
                                <span>超爱</span>
                            </div>
                            <div class="comment-text">
                                <a href="javascript:;">小米手机在我心中就是吃鸡。</a>
                            </div>
                            <div class="img-list">
                                <img src="{$config.site_url}/public/static/goods/images/user11.jpg">
                                <img src="{$config.site_url}/public/static/goods/images/user12.jpg">
                            </div>
                            <div class="comment-handler"> <a href="javascript:;" class="J_hasHelp ">
                                <i class="iconfont"></i>&nbsp;  <span class="amount">  37 </span> </a>
                            </div>
                            <div class="comment-input">
                                <input type="text" placeholder="回复楼主">
                                <a href="javascript:;" class="btn">回复</a>
                            </div>
                            <div class="answer-item">
                                <img class="answer-img" src="{$config.site_url}/public/static/user/images/milogo.png">
                                <div class="answer-content">
                                    <h3 class="official-name">官方回复</h3>
                                    <p> 莫非您就是传说中的伏地魔？鄙人是老.....啊。感谢您对小米的支持。
                                        <a href="javascript:void(0);" class="J_csLike " data-commentid="152720344">
                                            <i class="iconfont"></i>&nbsp;
                                            <span class="amount">  122 </span> </a> </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:;" class="user_img"><img src="{$config.site_url}/public/static/goods/images/user2.jpg"></a>
                        <div class="item">
                            <div class="item-top">
                                <a href="javascript:;" class="user-name">龙江大鑫哥</a>
                                <p class="time">前天 20:12</p>
                                <span>超爱</span>
                            </div>
                            <div class="comment-text">
                                <a href="javascript:;">我也是小米的米粉，买了三部小米品牌的手机了，第一部红米note单卡机 联通4G增强版，
                                    第二部红米note3高配版，这部小米5X早就看中了，奈何不知选哪个颜色的好，最终选定黑色款，拿到手后没有失望，超级喜欢，
                                    很薄，很轻，指纹解锁超给力，双摄像头拍照也清晰，信赖小米没毛病！支持观点的老铁点赞！</a>
                            </div>
                            <div class="img-list">
                                <img src="{$config.site_url}/public/static/goods/images/user21.jpg">
                                <img src="{$config.site_url}/public/static/goods/images/user22.jpg">
                                <img src="{$config.site_url}/public/static/goods/images/user23.jpg">
                            </div>
                            <div class="comment-handler"> <a href="javascript:;" class="J_hasHelp ">
                                <i class="iconfont"></i>&nbsp;  <span class="amount">  19 </span> </a>
                            </div>
                            <div class="comment-input">
                                <input type="text" placeholder="回复楼主">
                                <a href="javascript:;" class="btn">回复</a>
                            </div>
                            <div class="answer-item">
                                <img class="answer-img" src="{$config.site_url}/public/static/user/images/milogo.png">
                                <div class="answer-content">
                                    <h3 class="official-name">官方回复</h3>
                                    <p> 普通的disco我们普通的摇，旁边普通的路人在普通的瞧，我不普通的小米手机在不普通的拍照，在普通的咔嚓咔嚓中普通的闪耀~感谢您对小米的支持。
                                        <a href="javascript:void(0);" class="J_csLike " data-commentid="152720344">
                                            <i class="iconfont"></i>&nbsp;
                                            <span class="amount">  21 </span> </a> </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:;" class="user_img"><img src="{$config.site_url}/public/static/goods/images/user3.jpg"></a>
                        <div class="item">
                            <div class="item-top">
                                <a href="javascript:;" class="user-name">古灵精怪</a>
                                <p class="time">星期六</p>
                                <span>超爱</span>
                            </div>
                            <div class="comment-text">
                                <a href="javascript:;">手机颜色红色很漂亮，手感很轻薄，用着舒服！外观简单大气，手机内存大，运行速度快！大爱小米手机！</a>
                            </div>
                            <div class="img-list">
                                <img src="{$config.site_url}/public/static/goods/images/user31.jpg">
                                <img src="{$config.site_url}/public/static/goods/images/user32.jpg">
                                <img src="{$config.site_url}/public/static/goods/images/user33.jpg">
                            </div>
                            <div class="comment-handler"> <a href="javascript:;" class="J_hasHelp ">
                                <i class="iconfont"></i>&nbsp;  <span class="amount">  9 </span> </a>
                            </div>
                            <div class="comment-input">
                                <input type="text" placeholder="回复楼主">
                                <a href="javascript:;" class="btn">回复</a>
                            </div>
                            <div class="answer-item">
                                <img class="answer-img" src="{$config.site_url}/public/static/user/images/milogo.png">
                                <div class="answer-content">
                                    <h3 class="official-name">官方回复</h3>
                                    <p> 高端大气上档次，低调奢华有内涵。这就是小米，生活有小米，不需要道理。感谢您对小米的支持。
                                        <a href="javascript:void(0);" class="J_csLike " data-commentid="152720344">
                                            <i class="iconfont"></i>&nbsp;
                                            <span class="amount">  8 </span> </a> </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="more">加载更多</a>
        </div>
        <div class="row_right">
            <div class="comment-summary">
                <div class="num">
                    <p class="percent-num"><span class="m-num">28838</span>人购买后满意</p>
                </div>
                <div class="m-percent-box"> <p class="percent" style="width:96.7%;">满意度 96.7%</p></div>
            </div>
            <h2 class="tit">最新评价</h2>
            <ul class="spe-list">
                <li>
                    <div class="spe-top">
                        <span class="time">刚刚</span>
                        <a class="" href="javascript:;">- 192480327</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 超级棒  我姐姐喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">3分钟前 </span>
                        <a class="" href="javascript:;"> - 1085617626</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 挺好的，很喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">12分钟前</span>
                        <a class="" href="javascript:;">- 181915681</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 用几天才来评论 我挺喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">21分钟前</span>
                        <a class="" href="javascript:;"> - 554176738</a> </div>
                    <div class="txt">
                        <a href="javascript:;">这边买那边降100.客服妹子给个安慰</a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">24分钟前</span>
                        <a class="" href="javascript:;"> - 101253530</a> </div>
                    <div class="txt">
                        <a href="javascript:;">刚买了，就搞活动便宜100元。</a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">28分钟前</span>
                        <a class="" href="javascript:;">- 192480327</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 超级棒  我姐姐喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 喜欢 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">33分钟前 </span>
                        <a class="" href="javascript:;"> - 1085617626</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 挺好的，很喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 超爱 </div>
                </li>
                <li>
                    <div class="spe-top">
                        <span class="time">42分钟前</span>
                        <a class="" href="javascript:;">- 181915681</a> </div>
                    <div class="txt">
                        <a href="javascript:;"> 用几天才来评论 我挺喜欢 </a>
                    </div>
                    <div class="comment-handler">
                        <a href="javascript:;" class="J_hasHelp "> <i class="iconfont"></i>&nbsp;
                            <span class="amount hide">  0 </span> </a>
                    </div>
                    <div class="comment-eval"> <i class="iconfont"></i> 喜欢 </div>
                </li>
            </ul>
            <a href="javascript:;" class="fixed"><img src="{$config.site_url}/public/static/goods/images/fixed_up.PNG"></a>
        </div>
    </div>
</div>
<div class="photo-box">
    <div class="big-img">
        <div class="img-box"><img src="{$config.site_url}/public/static/goods/images/user11.jpg"></div>
        <div class="forward">
            <a href="javascript:;" class="btn-left"><img src="{$config.site_url}/public/static/goods/images/btn_left.PNG?2"></a>
            <a href="javascript:;" class="btn-right"><img src="{$config.site_url}/public/static/goods/images/btn_right.PNG?2"></a>
        </div>
        <a href="javascript:;" class="btn-pri"><img src="{$config.site_url}/public/static/goods/images/btn_pri.PNG"></a>
        <a href="javascript:;" class="btn-next"><img src="{$config.site_url}/public/static/goods/images/btn_next.PNG"></a>
    </div>
    <div class="area">
        <div class="user-info">
            <a class="user-ava" href="javascript:;">
            <img src="{$config.site_url}/public/static/goods/images/user1.jpg"> </a>
            <p class="name">乌龙山锐雯</p>
            <div class="time">星期五</div>
        </div>
        <div class="txt"> 小米手机在我心中就是吃鸡。 </div>
        <div class="img-list">
            <img src="{$config.site_url}/public/static/goods/images/user11.jpg" class="imgb">
            <img src="{$config.site_url}/public/static/goods/images/user12.jpg">
        </div>
        <div class="comment-handler"> <a href="javascript:void(0);"class="J_hasHelp">
            <i class="iconfont"></i>&nbsp;  <span class="amount">  38 </span> </a> </div>
        <div class="answer-area">
            <p class="office">官方回复</p>
            <div class="txt"> 莫非您就是传说中的伏地魔？鄙人是老.....啊。感谢您对小米的支持。
                <a href="javascript:void(0);" class="J_csLike "> <i class="iconfont"></i>&nbsp;
                    <span class="amount">  136 </span> </a> </div>
        </div>
    </div>
    <div class="mask"></div>
</div>
<script src="{$config.site_url}/public/static/goods/js/comment.js"></script>
</body>
</html>