<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link rel="stylesheet" href="{$config.site_url}/public/static/goods/css/comment.css?4">
    <script src="{$config.site_url}/public/static/home/js/jquery3.2.1.js"></script>
</head>
<body>
<div class="nav-box">
    <div class="container J_navSwitch">
        <h2 class="J_proName">小米5X 变焦双摄</h2>
        <div class="con">
            <div class="right">
                <a href="../goods/summary?id=1">概述</a>  <span class="separator">|</span>
                <a href="javascript:;">参数</a>
                <span class="separator">|</span>
                <a href="javascript:;" target="_blank">F码通道</a>
                <span class="separator">|</span>
                <a href="../goods/comment?id=1" class="cur">用户评价</a>
                <a href="../goods/info?id=1" class="btn-small">立即购买</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>